*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button,
label {
	cursor: pointer;
	text-decoration: none;
}

/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/

/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/

PCのstyleは表示、スマホのstyleは非表示 .is-pc {
	display: block;
}

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: block;
}

body {
	color: #000000;
	font-family: "Noto Sans JP", "sans-serif";
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.5;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

@font-face {
	font-family: "Corporate-Logo-Bold-ver2";
	src: url("../fonts/Corporate-Logo-Bold-ver2.ttf") format("truetype");
}

@font-face {
	font-family: "Corporate-Logo-Medium-ver2";
	src: url("../fonts/Corporate-Logo-Medium-ver2.ttf") format("truetype");
}

.l-inner {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 1.25rem;
	width: 100%;
}

.l-contents__inner {
	display: flex;
	gap: 6.67%;
	height: auto;
	margin: 0 auto;
	max-width: 75rem;
	padding: 5rem 0;
	width: 100%;
}

.l-contents__inner.archive {
	gap: 1%;
	max-width: 87.5rem;
}

.l-contents__main {
	width: calc(93.33% - 20rem);
}

.l-contents__main.archive {
	width: calc(94.29% - 20rem);
}

.l-contents__side {
	margin-left: auto;
	width: 20rem;
}

.l-header {
	background: #fff;
	max-width: 1920px;
	position: fixed;
	width: 100%;
	z-index: 20;
}

.l-header__inner {
	align-items: center;
	box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.1490196078);
	display: flex;
	gap: 6.94%;
	height: 5.625rem;
	justify-content: center;
	margin: 0 auto;
	padding: 0.9375rem;
	position: fixed;
	position: relative;
	width: 100%;
}

.l-header__logoArea {
	height: 4rem;
	width: 12.375rem;
}

.l-header__logoArea--sp {
	display: none;
	height: 2.375rem;
	padding-bottom: 2px;
	width: 7.5rem;
}

.l-header__btnArea {
	align-items: center;
	display: flex;
	gap: 1.5rem;
}

.l-header__btnArea--sp {
	display: none;
}

.l-drawer {
	background: url(../img/drawer-bg.jpg) no-repeat center center/cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	padding: 12.5rem 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	width: 21.25rem;
	z-index: 19;
}

.l-drawer.is-checked {
	transform: translateX(0%);
}

.l-drawer__menu {
	padding: 0 2.5rem;
}

.l-drawer__btn {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.l-drawer__link {
	border-bottom: 1px solid #D9D9D9;
	margin-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.l-drawer__link:first-child {
	margin-top: 0;
}

.l-drawer__link:last-child {
	border-bottom: none;
}

.l-drawer__items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 5rem;
}

.l-drawer__item {
	font-size: 1.25rem;
	line-height: 1;
}

.l-drawer__item span {
	font-size: 0.75rem;
}

.l-drawer__sns {
	align-items: center;
	display: flex;
	gap: 2.5rem;
	margin-top: 3.75rem;
}

.l-mv {
	background: #E9F7FC;
	background: url(../img/mv-bg.png) no-repeat 30% center/cover, #E9F7FC;
	height: auto;
	margin: 0 auto;
	padding-top: 5.625rem;
	width: 100%;
	z-index: -1;
}

.l-mv__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding: 5rem 1.25rem 3rem;
	position: relative;
	text-align: center;
	width: 100%;
}

.l-mv__sub {
	border-bottom: 0.125rem dashed #E47249;
	display: inline-block;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 2rem;
	margin-left: 5.4375rem;
	position: relative;
}

.l-mv__sub span {
	color: orange;
}

.l-mv__sub::before {
	background: url(../img/label-mv.png) no-repeat center center/cover;
	content: "";
	height: 9.8125rem;
	left: -10.1875rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 9.5rem;
}

.l-mv__sub::after {
	background: url(../img/sub-line.png) no-repeat center center/cover;
	content: "";
	height: 3.9375rem;
	position: absolute;
	right: -3.3125rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2.5625rem;
}

.l-mv__title {
	color: #0070BC;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 4.125rem;
	letter-spacing: -0.02em;
	line-height: 1;
	position: relative;
	text-shadow: 5px 5px 5px #fff, -5px -5px 5px #fff, -5px 5px 5px #fff, 5px -5px 5px #fff, 0px 5px 5px #fff, 0 -5px 5px #fff, -5px 0 5px #fff, 5px 0 5px #fff;
	z-index: 10;
}

.l-mv__title span {
	color: #fff;
	font-size: 5.75rem;
	letter-spacing: 0.02em;
	line-height: 1.5;
	text-shadow: 6px 6px 6px #0070BC, -6px -6px 6px #0070BC, -6px 6px 6px #0070BC, 6px -6px 6px #0070BC, 0px 6px 6px #0070BC, 0 -6px 6px #0070BC, -6px 0 6px #0070BC, 6px 0 6px #0070BC;
}

.l-mv__body {
	margin: 1.8125rem auto 0;
	width: 100%;
}

.l-mv__img1 {
	content: "";
	left: 3%;
	position: absolute;
	top: 16%;
}

.l-mv__img1 img {
	-o-object-fit: cover;
	height: 15.625rem;
	object-fit: cover;
	width: 20.3125rem;
}

.l-mv__img2 {
	content: "";
	left: 5.5%;
	position: absolute;
	top: 50%;
}

.l-mv__img2 img {
	-o-object-fit: cover;
	height: 12.25rem;
	object-fit: cover;
	width: 18.375rem;
}

.l-mv__img3 {
	content: "";
	position: absolute;
	right: 2.5%;
	top: 16%;
}

.l-mv__img3 img {
	-o-object-fit: cover;
	height: 15.3125rem;
	object-fit: cover;
	width: 20.1875rem;
}

.l-mv__img4 {
	content: "";
	position: absolute;
	right: 5.5%;
	top: 44%;
}

.l-mv__img4 img {
	-o-object-fit: cover;
	height: 14.375rem;
	object-fit: cover;
	width: 17.5rem;
}

.l-mv-viewPc {
	padding-top: 1.25rem;
	width: 100%;
}

.l-mv-viewSp {
	display: none;
	padding-top: 0px;
	width: 100%;
}

.l-line {
	background: #0070BC;
	margin: 0 auto;
	padding: 3.125rem 1.25rem;
	width: 100%;
}

.l-line__area {
	text-align: center;
}

.l-worry {
	background: url(../img/layer.png) no-repeat center center/cover, #EDF0F4;
	margin: 0 auto;
	padding: 5rem 0;
	padding: 5.75rem 0 5rem;
	width: 100%;
}

.l-worry__title {
	color: #126094;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 3.25rem;
	letter-spacing: 0.03em;
	line-height: 1;
	text-align: center;
	width: inherit;
}

.l-worry__detail {
	background: #fff;
	border: 0.1875rem solid #126094;
	border-radius: 0.625rem;
	display: flex;
	height: auto;
	margin: 3.625rem auto 0;
	max-width: 55rem;
	padding: 2.5rem 2.5rem 1.75rem;
	position: relative;
	width: 100%;
}

.l-worry__imgArea {
	width: 52%;
}

.l-worry__img1 {
	content: "";
	left: 2%;
	position: absolute;
	top: -10%;
}

.l-worry__img1 img {
	-o-object-fit: contain;
	height: 16rem;
	height: 304px;
	object-fit: contain;
	width: 24rem;
	width: 456px;
}

.l-worry__img2 {
	content: "";
	left: -3%;
	position: absolute;
	top: 42%;
}

.l-worry__img2 img {
	-o-object-fit: contain;
	height: 13.1875rem;
	height: 310px;
	object-fit: contain;
	width: 15.9375rem;
	width: 375px;
}

.l-worry__worryIcon {
	content: "";
	left: 1%;
	position: absolute;
	top: 45%;
}

.l-worry__worryIcon img {
	-o-object-fit: contain;
	height: 3.9375rem;
	object-fit: contain;
	width: 3.5rem;
}

.l-worry__textArea {
	width: 48%;
}

.l-worry__ttl li {
	padding-bottom: 0.5625rem;
	padding-top: 0.3125rem;
}

.l-worry__ttl li:nth-of-type(1) {
	padding-top: 0rem;
}

.l-worry__text {
	border-bottom: 0.0625rem dashed #0070BC;
	font-size: 1.625rem;
	line-height: 1.7;
	padding-left: 2.25rem;
	position: relative;
}

.l-worry__text span {
	color: #126094;
	font-weight: 700;
}

.l-worry__text::before {
	border: 0.1875rem solid #258EC9;
	border-radius: 50%;
	content: "";
	height: 1.5rem;
	left: 0;
	position: absolute;
	top: 42%;
	transform: translateY(-50%);
	width: 1.5rem;
}

.l-worry__text::after {
	background: url(../img/check.png) no-repeat center center/contain;
	content: "";
	height: 1rem;
	left: 0.375rem;
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	width: 1.375rem;
}

.l-worry__viewPC {
	width: 100%;
}

.l-worry__viewSp {
	display: none;
	width: 100%;
}

.l-solution {
	margin: 0 auto;
	width: 100%;
}

.l-solution__head {
	margin-top: 3.5rem;
	text-align: center;
}

.l-solution__arrow {
	height: 100%;
	width: 100%;
}

.l-solution__arrow img {
	-o-object-fit: cover;
	height: 3.5rem;
	object-fit: cover;
	width: 6.25rem;
}

.l-solution__title {
	color: #126094;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 3.25rem;
	letter-spacing: 0.03em;
	line-height: 1.3;
	margin-top: 2.5rem;
}

.l-solution__title span {
	background: linear-gradient(transparent 20%, #FFF500, transparent 80%);
}

.l-solution__title span.accent {
	font-size: 4.125rem;
}

.l-solution__sub {
	color: #126094;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 3.25rem;
	letter-spacing: 0.03em;
	line-height: 1;
	margin-top: 0.3125rem;
}

.l-solution__sub span {
	background: linear-gradient(transparent 20%, #FFF500, transparent 80%);
}

.l-solution__items {
	align-items: center;
	display: grid;
	gap: 3.75rem 2.5rem;
	grid-template-columns: repeat(auto-fit, 26.25rem);
	justify-content: center;
	margin: 5.3125rem auto 0;
	max-width: 55rem;
}

.l-solution__item {
	position: relative;
}

.l-solution__text {
	background: #0070BC;
	border-radius: 3.75rem;
	color: #fff;
	content: "";
	font-size: 1.625rem;
	font-weight: 700;
	height: auto;
	left: 50%;
	padding: 0.5rem;
	position: absolute;
	top: -1.25rem;
	transform: translateX(-50%);
	width: 21.25rem;
}

.l-solution__img {
	border: 0.3125rem solid #fff;
	border-radius: 0.625rem;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
	height: 100%;
	width: 100%;
}

.l-solution__img img {
	-o-object-fit: cover;
	height: 18.75rem;
	object-fit: cover;
	width: 26.25rem;
}

.l-support {
	margin: 0 auto;
	padding: 5rem 0 0;
	position: relative;
	width: 100%;
}

.l-support__ttlArea {
	padding: 0 1.25rem;
	text-align: center;
}

.l-support__title {
	color: #0070BC;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 4.125rem;
	letter-spacing: 0.03em;
	line-height: 1.3;
}

.l-support__title span {
	background: linear-gradient(transparent 75%, #FFF500 75%);
}

.l-support__head {
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 9vh 50vw 0 50vw;
	filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.1019607843));
	height: 0;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	width: 0;
	z-index: 10;
}

.l-support__contents {
	background-image: url(../img/bg-support.png), url(../img/bg-banner.png);
	background-position: center top, center bottom;
	background-repeat: no-repeat, no-repeat;
	background-size: 100% 59%, 100% 41%;
	margin-top: -5rem;
	padding-bottom: 3.5rem;
}

.l-support__content {
	height: auto;
	margin: 0 auto;
	max-width: 57.5rem;
	padding: 8.1875rem 1.25rem 0;
	text-align: center;
	width: 100%;
}

.l-support__img {
	width: 100%;
}

.l-support__img img {
	width: 43.1875rem;
}

.l-support__txtArea {
	background: #fff;
	border-radius: 0.625rem;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1019607843);
	padding: 2rem 1.25rem;
	width: 100%;
}

.l-support__txtTitle {
	color: #0070BC;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 2.375rem;
}

.l-support__txtTitle span {
	color: #E47249;
	font-size: 2.875rem;
}

.l-support__text {
	color: #0070BC;
	display: inline-block;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 1.625rem;
	line-height: 1.7;
	margin-top: 0.5rem;
	position: relative;
}

.l-support__text span {
	font-size: 2.5rem;
}

.l-support__text::before {
	background: url(/assets/img/line-left.png) no-repeat center center/cover;
	content: "";
	height: 2.375rem;
	left: -2rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.375rem;
}

.l-support__text::after {
	background: url(/assets/img/line-right.png) no-repeat center center/cover;
	content: "";
	height: 2.375rem;
	position: absolute;
	right: -2rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.375rem;
}

.l-support__btn {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 0.75rem;
	justify-content: center;
	margin-top: 0.25rem;
}

.swiper-slide {
	opacity: 0.3;
	transform: scale(0.85);
	transition: 0.5s;
}

.swiper-slide-active {
	opacity: 1;
	transform: scale(1);
	z-index: 1;
}

.l-recruit {
	margin: 0 auto;
	padding: 6.25rem 0;
	width: 100%;
}

.l-recruit__ttlArea {
	text-align: center;
}

.l-recruit__items {
	margin: 5rem auto 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.l-feature {
	background: url(../img/bg-feature.png) no-repeat center center/cover;
	margin: 0 auto;
	padding: 5.6875rem 0 6.25rem;
	width: 100%;
}

.l-feature__ttlArea {
	text-align: center;
}

.l-feature__contents {
	margin: 5.3125rem auto 0;
	max-width: 37.5rem;
	max-width: 600px;
	width: 100%;
}

.l-feature__content {
	height: 100%;
	width: 100%;
}

.l-feature__content img {
	-o-object-fit: cover;
	height: auto;
	object-fit: cover;
	width: 37.5rem;
}

.l-banner {
	background: url(../img/bg-banner.png) no-repeat center center/cover;
	margin: 0 auto;
	padding: 4rem 0;
	position: relative;
	width: 100%;
}

.l-banner__ttlArea {
	background: #fff;
	border: 0.25rem solid #0070BC;
	border-radius: 2.5rem;
	margin: 0 auto;
	max-width: 46.25rem;
	padding: 0.25rem 0.25rem 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.l-banner__ttlArea::before {
	border-color: #0070BC transparent transparent transparent;
	border-style: solid;
	border-width: 22px 15.5px 0 15.5px;
	bottom: -22px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.l-banner__ttlArea::after {
	border-color: #fff transparent transparent transparent;
	border-style: solid;
	border-width: 18px 13.5px 0 13.5px;
	bottom: -14px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.l-banner__title {
	color: #0070BC;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 2.25rem;
}

.l-banner__title span {
	letter-spacing: -0.08em;
}

.l-banner__title span.accent {
	color: #E47249;
	letter-spacing: 0.03em;
}

.l-banner__textArea {
	background: #fff;
	border: 0.1875rem solid #FFFFFF;
	border-radius: 1.25rem;
	height: auto;
	margin: -2.25rem auto 0;
	max-width: 55rem;
	padding: 3.9375rem 1.25rem 2.25rem;
	width: 100%;
}

.l-banner__text {
	color: #0070BC;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 1.875rem;
	line-height: 1.7;
	text-align: center;
}

.l-banner__btn {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem 0.75rem;
	justify-content: center;
	margin: 1.5rem auto 0;
}

.l-voice {
	background: url(../img/bg-voice.png) no-repeat center center/cover;
	margin: 0 auto;
	padding: 6.25rem 0 0;
	width: 100%;
}

.l-voice__ttlArea {
	text-align: center;
}

.l-voice__contents {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;
	margin: 5rem auto 0;
	max-width: 56.25rem;
	width: 100%;
}

.l-voice__content {
	max-width: 16.625rem;
	text-align: center;
	width: 100%;
}

.l-voice__content img {
	height: 10.625rem;
	width: 10.625rem;
}

.l-voice_comment {
	background: #fff;
	border: 0.1875rem solid #0070BC;
	border-radius: 1.25rem;
	box-shadow: 0.3125rem 0.3125rem 0 0 #AED2F4;
	height: 21.1875rem;
	margin-top: 2.25rem;
	padding: 1.75rem 1.875rem;
	position: relative;
	width: 16.625rem;
}

.l-voice_comment::before {
	border-color: transparent transparent #0070BC transparent;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	content: "";
	left: 50%;
	position: absolute;
	top: -1.25rem;
	transform: translateX(-50%);
}

.l-voice_comment::after {
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 0 17px 17px 17px;
	content: "";
	left: 50%;
	position: absolute;
	top: -1rem;
	transform: translateX(-50%);
}

.l-voice__profile {
	background: #0070BC;
	border-radius: 2.5rem;
	color: #fff;
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1;
	padding: 0.25rem 0.75rem;
}

.l-voice__text {
	font-size: 1.25rem;
	line-height: 1.6;
	margin-top: 1.25rem;
	text-align: left;
}

.l-flow {
	background: #0070BC;
	margin-top: -12.5rem;
	padding: 18.75rem 0 6.25rem;
	width: 100%;
}

.l-flow__content {
	background: #fff;
	border-radius: 1.25rem;
	height: auto;
	margin: 0 auto;
	max-width: 55rem;
	padding: 3.5rem 1.25rem;
	width: 100%;
}

.l-flow__ttlArea {
	text-align: center;
}

.l-flow__box {
	margin-top: 5.1875rem;
}

.l-flow__box li {
	margin-top: 3.375rem;
}

.l-flow__box li:first-of-type {
	margin-top: 0;
}

.l-flow__step {
	background: #EDF0F4;
	border: 0.1875rem solid #0070BC;
	border-radius: 1.25rem;
	display: flex;
	gap: 4.2%;
	margin: 0 auto;
	max-width: 47.5rem;
	padding: 1.5rem 2.1875rem 1rem;
	position: relative;
	width: 100%;
}

.l-flow__step::before {
	border-color: #569FD1 transparent transparent transparent;
	border-style: solid;
	border-width: 18px 18px 0 18px;
	bottom: -30px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.l-flow__step::after {
	border-color: #0070BC transparent transparent transparent;
	border-style: solid;
	border-width: 18px 18px 0 18px;
	bottom: -48px;
	content: "";
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.l-flow__step:last-of-type::before,
.l-flow__step:last-of-type::after {
	display: none;
}

.l-flow-number {
	height: auto;
	width: 3.75rem;
}

.l-flow__txtArea {
	letter-spacing: 0.01em;
	width: calc(100% - 3.75rem - 2rem);
}

.l-flow__title {
	color: #0070BC;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}

.l-flow__text {
	font-size: 1.25rem;
	line-height: 1.6;
	margin-top: 1rem;
}

.l-faq {
	background: #EDF0F4;
	margin: 0 auto;
	padding: 6.25rem 0;
	width: 100%;
}

.l-faq_ttlArea {
	text-align: center;
}

.l-faq__boxes {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 5.3125rem auto 0;
	max-width: 55rem;
	width: 100%;
}

.l-faq__box {
	background: #fff;
	border-radius: 1.25rem;
	padding: 1rem 2.5rem;
	width: 100%;
}

.l-faq__box.is-open .l-faq__question::after {
	transform: rotate(0deg);
}

.l-faq__question {
	background: transparent;
	display: flex;
	gap: 1rem;
	position: relative;
	width: inherit;
}

.l-faq__question::after {
	background: url(../img/faq-arrow.png) no-repeat center center/contain;
	content: "";
	height: 1.375rem;
	position: absolute;
	right: 0rem;
	top: 0.5625rem;
	transform: rotate(180deg);
	width: 1.375rem;
}

.l-faq__icon {
	background: #0070BC;
	border-radius: 50%;
	color: #fff;
	display: grid;
	flex-shrink: 0;
	font-family: "Almarai", sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
	height: 2.5rem;
	place-items: center;
	width: 2.5rem;
}

.l-faq__icon.answer {
	background: #E47249;
}

.l-faq__text {
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.01em;
	line-height: 1.6;
	text-align: left;
}

.l-faq__text.answer {
	font-size: 1.25rem;
	font-weight: 400;
}

.l-faq__answerArea {
	display: none;
}

.l-faq__answer {
	display: flex;
	font-size: 1.25rem;
	font-weight: 400;
	gap: 1rem;
	line-height: 1.6;
	margin-top: 1rem;
}

.l-privacy {
	background: #fff;
	margin: 0 auto;
	padding: 9.375rem 0 6.25rem;
	width: 100%;
}

.l-privacy__contents {
	background: #EDF0F4;
	height: 12.5rem;
	margin: 0 auto;
	max-width: 55rem;
	padding: 1.25rem;
	width: 100%;
}

.l-privacy__content {
	background: #fff;
	height: 10rem;
	max-width: 52.5rem;
	overflow-y: scroll;
	padding: 2.5rem;
	width: 100%;
}

.l-privacy__ttlArea {
	text-align: center;
}

.l-privacy__title {
	font-size: 1.5rem;
}

.l-privacy__txtArea {
	height: auto;
	margin-top: 1.25rem;
	width: inherit;
}

.l-privacy__text {
	font-size: 1rem;
	line-height: 2;
}

.l-privacy__profArea {
	margin-top: 0.125rem;
}

.l-privacy__profTitle {
	font-size: 1.125rem;
	line-height: 2;
}

.l-privacy__profile {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.0625rem 1rem;
	width: 60%;
}

.l-privacy__profTxt {
	font-size: 1rem;
	line-height: 2;
}

.l-footer {
	background: #eafbf9;
	border-top: 0.3125rem solid #0070BC;
	margin: 0 auto 9.25rem;
	padding: 1.375rem 0;
	width: 100%;
}

.l-footer__inner {
	height: auto;
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 1.25rem;
}

.l-footer__title {
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 2rem;
	text-align: center;
}

.l-footer__contents {
	align-items: start;
	display: flex;
	height: auto;
	justify-content: space-between;
	margin: 1.5rem auto 0;
	max-width: 55rem;
	width: 100%;
}

.l-footer__left {
	width: 50%;
}

.l-footer__logo {
	height: auto;
	width: 100%;
}

.l-footer__logo img {
	-o-object-fit: contain;
	height: 4rem;
	object-fit: contain;
	width: 12.375rem;
}

.l-footer__text {
	font-size: 0.75rem;
}

.l-footer__copyRight {
	font-size: 0.875rem;
	margin-top: 2.25rem;
	padding-bottom: 1.125rem;
	text-align: center;
}

.map {
	padding-top: 75%; /* 比率を4:3に固定 */
	position: relative;
	width: 21.9375rem;
}

.map iframe {
	height: 14.5rem;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 19.375rem;
}

.c-btn {
	background: #4CC764;
	border-radius: 99px;
	box-shadow: 0rem 0.25rem #0B691d;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	padding: 1.25rem 2.3125rem 1.25rem 3.25rem;
	position: relative;
	width: 17.5rem;
}

.c-btn::before {
	background: url(../img/line.png) no-repeat center center/contain;
	content: "";
	height: 1.375rem;
	left: 1.125rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.4375rem;
}

.c-btn::after {
	background: url(../img/arrow-right.png) no-repeat center center/contain;
	content: "";
	height: 0.875rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5rem;
}

.c-btn:hover {
	box-shadow: 0rem 0rem #0B691d;
	margin-bottom: -4px;
	margin-top: 4px;
}

.c-btn.line {
	box-shadow: 0 0.5rem 0 0 rgba(11, 105, 29, 0.8);
	font-size: 1.5rem;
	letter-spacing: 0.03em;
	max-width: 37.5rem;
	padding: 2.375rem 8.125rem 2.375rem 13.0625rem;
	width: 100%;
}

.c-btn.line::before {
	height: 2.75rem;
	left: 9.0625rem;
	width: 2.875rem;
}

.c-btn.line::after {
	height: 1.25rem;
	right: 2.4375rem;
	width: 0.75rem;
}

.c-btn.line:hover {
	box-shadow: 0rem 0.1875rem #0B691d;
	margin-bottom: -5px;
	margin-top: 5px;
}

.c-btn.banner {
	box-shadow: 0 0.5rem 0 0 rgba(11, 105, 29, 0.8);
	font-size: 1.5rem;
	letter-spacing: 0.03em;
	max-width: 25.625rem;
	padding: 1.75rem 3.125rem 1.75rem 5.625rem;
	width: 100%;
}

.c-btn.banner::before {
	height: 2.75rem;
	left: 1.875rem;
	width: 2.875rem;
}

.c-btn.banner::after {
	height: 1.25rem;
	right: 1.5rem;
	width: 0.75rem;
}

.c-btn.banner:hover {
	box-shadow: 0rem 0.1875rem #0B691d;
	margin-bottom: -5px;
	margin-top: 5px;
}

.c-btn__tel {
	background: #E47249;
	border-radius: 99px;
	box-shadow: 0rem 0.25rem rgba(148, 50, 15, 0.8);
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 1;
	padding: 1.25rem 2.3125rem 1.25rem 4.375rem;
	position: relative;
	width: 17.5rem;
}

.c-btn__tel::before {
	background: url(../img/tel.png) no-repeat center center/contain;
	content: "";
	height: 1.625rem;
	left: 2.5rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
}

.c-btn__tel::after {
	background: url(../img/arrow-right.png) no-repeat center center/contain;
	content: "";
	height: 0.875rem;
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	width: 0.5rem;
}

.c-btn__tel:hover {
	box-shadow: 0rem 0rem rgba(148, 50, 15, 0.8);
	margin-bottom: -4px;
	margin-top: 4px;
}

.c-btn__tel.banner {
	box-shadow: 0 0.5rem 0 0 rgba(148, 50, 15, 0.8);
	font-size: 1.5rem;
	letter-spacing: 0.03em;
	max-width: 25.625rem;
	padding: 1.75rem 3.125rem 1.75rem 6.625rem;
	width: 100%;
}

.c-btn__tel.banner::before {
	height: 2rem;
	left: 4.25rem;
	width: 1.5rem;
}

.c-btn__tel.banner::after {
	height: 1.25rem;
	right: 1.25rem;
	width: 0.75rem;
}

.c-btn__tel.banner:hover {
	box-shadow: 0rem 0.1875rem rgba(148, 50, 15, 0.8);
	margin-bottom: -5px;
	margin-top: 5px;
}

.c-btn__cta {
	background: rgba(255, 255, 255, 0.5);
	bottom: 0px;
	margin: 0 auto;
	padding: 1.25rem 0 1.75rem;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 30;
}

.c-btn__sp {
	display: none;
	height: 2.375rem;
	width: 4.625rem;
}

.c-btn__spTel {
	display: none;
	height: 2.375rem;
	width: 4.625rem;
}

.c-logo {
	height: 100%;
	width: 100%;
}

.c-logoLink {
	-o-object-fit: contain;
	filter: drop-shadow(6px 6px 10px 0px rgba(0, 0, 0, 0.4));
	height: 7.625rem;
	object-fit: contain;
	width: 7.375rem;
}

.c-drawer {
	background: #fff;
	border-radius: 50%;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: block;
	height: 4.25rem;
	position: relative;
	width: 4.25rem;
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(1) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(2) {
	display: none;
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(3) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer__line {
	background: #000000;
	border-radius: 0.25rem;
	content: "";
	height: 0.125rem;
	left: 29%;
	position: absolute;
	transition: transform 0.3s linear, top 0.3s linear;
	width: 1.6875rem;
}

.c-drawer__line:nth-of-type(1) {
	top: 35%;
}

.c-drawer__line:nth-of-type(2) {
	top: 50%;
}

.c-drawer__line:nth-of-type(3) {
	top: 65%;
}

.c-title {
	color: #126094;
	font-family: "Corporate-Logo-Bold-ver2";
	font-size: 3.25rem;
	letter-spacing: 0.03em;
	line-height: 1.4;
	position: relative;
}

.c-title span {
	font-size: 4.125rem;
}

.c-title::after {
	border: 0.125rem solid #126094;
	bottom: -1.625rem;
	content: "";
	height: 0.125rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	width: 6.25rem;
}

.p-mv {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	justify-content: center;
}

.p-mv__content {
	background: #EE9613;
	border-radius: 0.625rem;
	box-shadow: 0.4375rem 0.4375rem 0 0 #AA8853;
	color: #fff;
	font-family: "Corporate-Logo-Bold-ver2";
	gap: 1.25rem;
	height: 8.75rem;
	padding: 1.25rem 0 0.375rem;
	text-align: center;
	width: 8.75rem;
	z-index: 10;
}

.p-mv__text {
	font-size: 1.25rem;
	line-height: 1;
}

.p-mv__appeal {
	font-size: 1.875rem;
	line-height: 1.2;
	margin-top: 0.9375rem;
}

.p-mv__appeal.rent {
	padding-top: 0.9375rem;
}

.p-recruit {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 1.25rem;
	width: 100%;
}

.p-recruit__swiper {
	padding: 0 0.625rem 4.0625rem;
}

.p-recruit__item {
	border: 0.1875rem solid #0070BC;
	border-radius: 0.625rem;
	height: 35.75rem;
	margin: 0 auto;
	max-width: 28.75rem;
	padding: 1rem;
	width: 100%;
}

.p-recruit__img {
	height: 100%;
	width: 100%;
}

.p-recruit__img img {
	-o-object-fit: cover;
	height: 16.25rem;
	object-fit: cover;
	width: 26.75rem;
}

.p-recruit__body {
	-moz-text-align-last: left;
	margin-top: 0.875rem;
	text-align-last: left;
}

.p-recruit__title {
	color: #126094;
	font-size: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1.4;
}

.p-recruit__low {
	margin-top: 1.5rem;
}

.p-recruit__dl {
	border-bottom: 0.0625rem dotted #eaeaea;
	display: flex;
	font-size: 1.25rem;
	gap: 0.75rem;
	padding: 0.3125rem 0 0.75rem;
}

.p-recruit__dl:first-of-type {
	padding-top: 0;
}

.p-recruit__dl:last-of-type {
	border-bottom: none;
}

.p-recruit__dt {
	letter-spacing: 0.03em;
	line-height: 1.2;
	width: 4.0625rem;
}

.p-recruit__dd {
	letter-spacing: 0.03em;
	text-align: left;
}

.p-recruit__dd span {
	color: #E01E1E;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
}

.p-recruit__prev,
.p-recruit__next {
	height: 4.125rem;
	margin-top: -1.25rem;
	width: 4.125rem;
}

.p-recruit__prev::after,
.p-recruit__next::after {
	display: none;
}

.p-recruit__prev {
	background: url(../img/arrow-preview.png) no-repeat center center/contain;
	left: 27.5rem;
	left: 30%;
}

.p-recruit__next {
	background: url(../img/arrow-next.png) no-repeat center center/contain;
	right: 27.5rem;
	right: 30%;
}

.p-recruit__btn {
	align-items: center;
	display: flex;
	gap: 0.25rem;
	justify-content: center;
}

.p-recruit__btn .swiper-pagination-bullet {
	background: #fff;
	border: 0.125rem solid #0070BC;
	border-radius: 50%;
	height: 1rem;
	width: 1rem;
}

.p-recruit__btn .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #0070BC;
}

.p-footer {
	align-items: center;
	display: flex;
	font-weight: 500;
	gap: 2.5rem;
	justify-content: center;
}

.p-footer__navLink {
	display: block;
}

.p-footer__sns {
	align-items: center;
	display: flex;
	gap: 3rem;
	justify-content: center;
	margin-top: 2.5rem;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-active-pc {
	display: none;
}

.u-active-tab {
	display: none;
}

.u-active-sp {
	display: none;
}

/* u-dispNone
----------------------------------------------------------------- */

.u-dispNone--NU {
	display: block;
}

.u-dispNone--NO {
	display: none;
}

.u-dispNone--PU {
	display: block;
}

.u-dispNone--PO {
	display: none;
}

.u-dispNone--flexPU {
	display: flex;
}

.u-dispNone--flexPO {
	display: none;
}

@media screen and (min-width: 768px) {

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: none;
}

.is-sp {
	display: none;
}

.u-hidden-pc {
	display: none;
}

.u-active-pc {
	display: block;
}

}

@media screen and (max-width: 1280px) {

.u-dispNone--NU {
	display: none;
}

.u-dispNone--NO {
	display: block;
}

}

@media screen and (max-width: 999px) {

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: none;
}

.l-footer__inner {
	padding: 0 1rem;
}

.p-recruit__prev {
	left: 20%;
}

.p-recruit__next {
	right: 20%;
}

.u-hidden-tab {
	display: none;
}

.u-active-tab {
	display: block;
}

}

@media screen and (max-width: 767px) {

PCのstyleは表示、スマホのstyleは非表示 .is-pc {
	display: none;
}

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 1rem;
}

.l-contents__inner {
	flex-direction: column;
	gap: 7.5rem;
	padding: 2.5rem 0;
}

.l-contents__main {
	width: 100%;
}

.l-contents__main.archive {
	width: 100%;
}

.l-contents__side {
	width: 100%;
}

.l-header__inner {
	height: 3.5rem;
	justify-content: space-between;
	padding: 0 1rem;
}

.l-header__logoArea {
	display: none;
}

.l-header__logoArea--sp {
	display: block;
}

.l-header__btnArea {
	display: none;
}

.l-header__btnArea--sp {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	margin-top: -0.375rem;
}

.l-drawer {
	display: block;
	padding: 6.25rem 0;
	width: 100%;
}

.l-drawer__items {
	margin-top: 2.5rem;
}

.l-drawer__item span {
	display: none;
}

.l-drawer__sns {
	margin-top: 1.875rem;
}

.l-mv__inner {
	padding: 10rem 1rem 3rem;
}

.l-mv__sub {
	font-size: 1.5rem;
	margin-left: 0;
}

.l-mv__sub::before {
	left: 60%;
	top: -80px;
}

.l-mv__sub::after {
	display: none;
}

.l-mv__title {
	font-size: 2.625rem;
}

.l-mv__title span {
	font-size: 3rem;
}

.l-mv__img1 {
	top: 0;
}

.l-mv__img2 {
	display: none;
}

.l-mv__img3 {
	display: none;
}

.l-mv__img4 {
	display: none;
}

.l-mv-viewPc {
	display: none;
}

.l-mv-viewSp {
	display: block;
}

.l-worry__title {
	font-size: 1.875rem;
}

.l-worry__detail {
	flex-direction: column;
	padding: 1.25rem;
}

.l-worry__img1 {
	opacity: 0.25;
}

.l-worry__img2 {
	display: none;
}

.l-worry__worryIcon {
	display: none;
}

.l-worry__textArea {
	width: 100%;
}

.l-worry__text {
	font-size: 18px;
}

.l-worry__viewPC {
	display: none;
}

.l-worry__viewSp {
	display: block;
}

.l-solution__title {
	font-size: 1.875rem;
}

.l-solution__title span.accent {
	font-size: 2.625rem;
}

.l-solution__sub {
	font-size: 1.75rem;
}

.l-solution__items {
	grid-template-columns: repeat(auto-fit, 21.4375rem);
}

.l-solution__text {
	font-size: 1.125rem;
	width: 16.25rem;
}

.l-support__ttlArea {
	padding: 0 1rem;
}

.l-support__title {
	font-size: 2.625rem;
}

.l-support__content {
	padding: 8.1875rem 1rem 0;
}

.l-support__txtArea {
	padding: 2rem 1rem;
}

.l-support__txtTitle {
	font-size: 1.75rem;
}

.l-support__txtTitle span {
	font-size: 1.875rem;
}

.l-support__text {
	font-size: 1.125rem;
}

.l-support__text span {
	font-size: 1.875rem;
}

.l-support__btn {
	margin-top: 1rem;
}

.l-banner__title {
	font-size: 1.75rem;
}

.l-banner__textArea {
	padding: 3.9375rem 1rem 2rem;
}

.l-banner__text {
	font-size: 1.375rem;
}

.l-voice__contents {
	flex-direction: column;
	padding: 0 1.25rem;
}

.l-voice__content {
	max-width: 45rem;
}

.l-voice_comment {
	height: auto;
	max-width: 45rem;
	padding: 1.75rem 1.25rem;
	width: 100%;
}

.l-flow__step {
	padding: 1.5rem 1rem 1rem;
}

.l-flow-number {
	width: 3.125rem;
}

.l-flow__title {
	font-size: 1.25rem;
}

.l-flow__text {
	font-size: 1.125rem;
}

.l-faq {
	padding: 2.5rem 0;
}

.l-faq__box {
	padding: 1rem 1.25rem;
}

.l-faq__question {
	gap: 0.625rem;
}

.l-faq__question::after {
	right: -1.25rem;
	right: 0;
}

.l-faq__text {
	font-size: 1.125rem;
}

.l-faq__text.answer {
	font-size: 1.125rem;
}

.l-privacy__profile {
	flex-direction: column;
	width: 100%;
}

.l-footer {
	margin-bottom: 6.25rem;
}

.l-footer__contents {
	flex-direction: column;
	gap: 1.25rem;
	justify-content: center;
	text-align: center;
}

.l-footer__left {
	width: 100%;
}

.l-footer__copyRight {
	margin-top: 1.5rem;
}

.c-btn {
	font-size: 0.875rem;
	padding: 1rem 0rem;
	text-align: center;
	width: 160px;
}

.c-btn::before,
.c-btn::after {
	display: none;
}

.c-btn.line {
	padding: 1.5rem 0rem;
	text-align: center;
	width: 100%;
}

.c-btn.line::before,
.c-btn.line::after {
	display: none;
}

.c-btn.banner {
	padding: 1.5rem 0rem;
	text-align: center;
	width: 100%;
}

.c-btn.banner::before,
.c-btn.banner::after {
	display: none;
}

.c-btn__tel {
	font-size: 0.875rem;
	padding: 1rem 0rem;
	text-align: center;
	width: 160px;
}

.c-btn__tel::before,
.c-btn__tel::after {
	display: none;
}

.c-btn__tel.banner {
	padding: 1.5rem 0rem;
	text-align: center;
	width: 100%;
}

.c-btn__tel.banner::before,
.c-btn__tel.banner::after {
	display: none;
}

.c-btn__cta {
	padding: 0.75rem 1rem 1.25rem;
}

.c-btn__sp {
	display: block;
}

.c-btn__spTel {
	display: block;
}

.c-logoLink {
	height: 3.75rem;
	width: 3.625rem;
}

.c-drawer {
	height: 2.625rem;
	width: 2.625rem;
}

.c-drawer__line {
	width: 1.0625rem;
}

.c-title {
	font-size: 2.5rem;
}

.c-title span {
	font-size: 3rem;
}

.p-mv__content {
	height: 7.5rem;
}

.p-mv__text {
	font-size: 1rem;
}

.p-mv__appeal {
	font-size: 1.5rem;
	margin-top: 0.625rem;
}

.p-recruit {
	padding: 0 1rem;
}

.p-recruit__title {
	font-size: 1.125rem;
}

.p-recruit__dl {
	font-size: 1rem;
}

.p-recruit__dd span {
	font-size: 1.125rem;
}

.p-recruit__prev,
.p-recruit__next {
	height: 3.125rem;
	margin-top: -4.375rem;
	width: 3.125rem;
}

.p-recruit__prev {
	left: -0.125rem;
}

.p-recruit__next {
	right: -0.125rem;
}

.p-footer {
	flex-direction: column;
	gap: 0.625rem;
}

.u-hidden-sp {
	display: none;
}

.u-active-sp {
	display: block;
}

.u-dispNone--PU {
	display: none;
}

.u-dispNone--PO {
	display: block;
}

.u-dispNone--flexPU {
	display: none;
}

.u-dispNone--flexPO {
	display: flex;
}

}

