*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a,
button,
label {
	cursor: pointer;
	text-decoration: none;
}

/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/

/*
_function.scss ファイル
それぞれ( )内にpxでの数値を入れるとrem, px, vw(pc版), vw(sp版) に変換
*/

PCのstyleは表示、スマホのstyleは非表示 .is-pc {
	display: block;
}

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: block;
}

body {
	color: #393327;
	font-family: "Noto Sans JP", "sans-serif";
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

@font-face {
	font-family: "ShipporiMincho";
	src: url("../fonts/ShipporiMincho-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "HomemadeApple";
	src: url("../fonts/HomemadeApple-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Slackside";
	src: url("../fonts/SlacksideOne-Regular.ttf") format("truetype");
}

.l-inner {
	margin: 0 auto;
	max-width: 100%;
	width: 1440px;
}

.l-inner.--img {
	padding-left: 0;
	padding-right: 1rem;
}

.l-inner.--rev {
	padding-left: 1rem;
	padding-right: 0;
}

.l-inner.inner {
	padding: 0 1.25rem;
}

.l-inner.lower {
	padding: 0 1.25rem;
}

.l-inner.box {
	max-width: 75rem;
	width: 100%;
}

.l-contents__inner {
	display: flex;
	gap: 6.67%;
	height: auto;
	margin: 0 auto;
	max-width: 75rem;
	padding: 5rem 0;
	width: 100%;
}

.l-contents__inner.archive {
	gap: 1%;
	max-width: 87.5rem;
}

.l-contents__main {
	width: calc(93.33% - 20rem);
}

.l-contents__main.archive {
	width: calc(94.29% - 20rem);
}

.l-contents__side {
	margin-left: auto;
	width: 20rem;
}

.l-contents__test {
	color: blue;
	font-size: 1.875rem;
}

.l-contents__test img {
	height: auto;
	margin-left: 2.5rem;
	width: 31.25rem;
}

.l-btn__shop {
	bottom: 0.625rem;
	position: fixed;
	right: 3.125rem;
	z-index: 9;
}

.l-btn__sp {
	bottom: 0;
	display: none;
	position: fixed;
	width: 100%;
	z-index: 50;
}

.l-btn__sp ul {
	display: flex;
	width: 100%;
}

.l-btn__sp li {
	align-items: center;
	box-shadow: 0px 0.3125rem 0.9375rem 0 rgba(0, 0, 0, 0.35);
	font-size: 0.875rem;
	justify-content: center;
	position: relative;
	width: 50%;
}

.l-btn__sp li:first-child {
	background: #B2533E;
	border-right: 1px solid #fff;
	color: #fff;
}

.l-btn__sp li:first-child::before {
	background: url(../img/shopping-cartWhite.png) no-repeat center center/contain;
	content: "";
	height: 20px;
	left: 25px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.l-btn__sp li:last-child {
	background: #EAEAED;
	color: #393327;
}

.l-btn__sp li:last-child::before {
	background: url(../img/mail.png) no-repeat center center/contain;
	content: "";
	height: 20px;
	left: 25px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
}

.l-btn__sp li a {
	display: block;
	padding: 0.625rem 1.25rem;
	text-align: center;
	width: 100%;
}

.l-header {
	max-width: 1920px;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.l-header__inner {
	display: flex;
	height: 10.125rem;
	justify-content: space-between;
	margin: 1.25rem auto 0;
	padding: 0 2.5rem;
	position: relative;
	width: 100%;
}

.l-header__logoArea {
	height: 7.625rem;
	width: 7.375rem;
	z-index: 30;
}

.l-header__logo {
	height: 100%;
	width: 100%;
}

.l-header__logoLink {
	display: block;
	filter: drop-shadow(6px 6px 10px 0px rgba(0, 0, 0, 0.4));
	width: 100%;
}

.l-header__textArea {
	display: none;
	width: 100%;
}

.l-header__textList {
	display: flex;
	justify-content: flex-end;
}

.l-header__drawer {
	display: block;
	z-index: 50;
}

.l-drawer {
	background: url(../img/drawer-bg.jpg) no-repeat center center/cover;
	background-blend-mode: lighten;
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	padding: 12.5rem 0;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(100%);
	transition: transform 0.3s linear;
	width: 21.25rem;
	z-index: 19;
}

.l-drawer.is-checked {
	transform: translateX(0%);
}

.l-drawer__menu {
	padding: 0 2.5rem;
}

.l-drawer__btn {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.l-drawer__link {
	border-bottom: 1px solid #D9D9D9;
	margin-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.l-drawer__link:first-child {
	margin-top: 0;
}

.l-drawer__link:last-child {
	border-bottom: none;
}

.l-drawer__items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 5rem;
}

.l-drawer__item {
	font-size: 1.25rem;
	line-height: 1;
}

.l-drawer__item span {
	font-size: 0.75rem;
}

.l-drawer__sns {
	align-items: center;
	display: flex;
	gap: 2.5rem;
	margin-top: 3.75rem;
}

.l-mv {
	background: url(../img/mv.jpg) no-repeat center center/cover;
	height: 100vh;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.l-mv__inner {
	height: inherit;
	margin: 0 auto;
	width: 1440px;
}

.l-footer {
	background: #EAEAED;
}

.l-footer__inner {
	padding: 5.5rem 2.5rem 1.125rem;
	width: 100%;
}

.l-footer__contents {
	align-items: start;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
}

.l-footer__logoArea {
	height: auto;
	width: 8.47%;
}

.l-footer__nav {
	width: 32.85%;
}

.l-footer__btn {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	height: auto;
	width: 16.3125rem;
}

.l-footer__copyRight {
	font-size: 0.75rem;
	margin-top: 2.1875rem;
	padding-bottom: 1.125rem;
	text-align: center;
}

.l-footer__copyRightSp {
	display: none;
	font-size: 0.75rem;
	margin-top: 2.1875rem;
	text-align: center;
}

.l-about {
	background: #F2F6F1;
	margin: 0 auto;
	padding: 5rem 0;
	width: 100%;
}

.l-about__subArea {
	margin-top: 4rem;
}

.l-about__message {
	font-size: 2rem;
	font-weight: 700;
}

.l-about__txtArea {
	margin-top: 2.5rem;
}

.l-about__text {
	line-height: 2;
}

.l-about__row {
	display: flex;
	margin-top: 4rem;
}

.l-about__imgArea {
	height: auto;
	width: 50%;
}

.l-about__imgArea img {
	-o-object-fit: cover;
	height: 28.125rem;
	object-fit: cover;
	width: 37.5rem;
}

.l-about__content {
	margin-left: 3.3%;
	margin-top: 6.25rem;
	width: 50%;
}

.l-about__rowTtl {
	font-size: 2rem;
	font-weight: 700;
}

.l-about__rowTxt {
	margin-top: 1.25rem;
}

.l-faq {
	background: #F2F6F1;
	margin: 0 auto;
	padding: 5rem 0;
	width: 100%;
}

.l-faq__boxes {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-top: 4rem;
	width: 100%;
}

.l-faq__box {
	background: #fff;
	border: 0.0625rem solid #4C7031;
	border-radius: 0.5rem;
	max-width: 75rem;
	padding: 1.25rem;
	width: 100%;
}

.l-faq__box.is-open .l-faq__question::after {
	transform: rotate(180deg);
}

.l-faq__question {
	background: transparent;
	display: flex;
	gap: 1.25rem;
	position: relative;
	width: inherit;
}

.l-faq__question::after {
	background: url(../img/faq-arrow.png) no-repeat center center/contain;
	content: "";
	height: 1.375rem;
	position: absolute;
	right: 0rem;
	top: 0.5625rem;
	width: 1.375rem;
}

.l-faq__icon {
	background: #4C7031;
	border-radius: 50%;
	color: #fff;
	display: grid;
	flex-shrink: 0;
	height: 2.25rem;
	place-items: center;
	width: 2.25rem;
}

.l-faq__icon.-answer {
	background: #B2533E;
}

.l-faq__text {
	line-height: 2;
}

.l-faq__answerArea {
	display: none;
}

.l-faq__answer {
	border-top: 0.0625rem solid #4C7031;
	display: flex;
	gap: 1.25rem;
	margin-top: 1.375rem;
	padding-top: 1.375rem;
}

.l-contact {
	margin: 0 auto;
	padding: 5rem 0;
	width: 100%;
}

.l-contact__headArea {
	text-align: center;
}

.l-contact__head {
	display: inline-block;
	text-align: left;
}

.l-contact__form {
	height: auto;
	margin: 4rem auto 0;
	max-width: 50rem;
	width: 100%;
}

.l-contact__field {
	margin-top: 2.5rem;
}

.l-contact__field:first-of-type {
	margin-top: 0;
}

.l-contact__dt {
	align-items: center;
	display: flex;
	gap: 1.25rem;
}

.l-contact__dd {
	margin-top: 0.5rem;
}

.l-contact__text {
	border: 0.0625rem solid #393327;
	border-radius: 0.5rem;
	font-size: 1.125rem;
	line-height: 2;
	padding: 0.75rem 1rem;
	width: 100%;
}

.l-contact__text::-moz-placeholder {
	color: #969696;
	opacity: 0.5;
}

.l-contact__text::placeholder {
	color: #969696;
	opacity: 0.5;
}

.l-contact__txtArea {
	border: 0.0625rem solid #393327;
	border-radius: 0.5rem;
	font-size: 1.125rem;
	height: 13.375rem;
	line-height: 2;
	padding: 0.75rem 1rem;
	width: 100%;
}

.l-contact__txtArea::-moz-placeholder {
	color: #969696;
	opacity: 0.5;
}

.l-contact__txtArea::placeholder {
	color: #969696;
	opacity: 0.5;
}

.l-contact__privacy {
	margin-top: 4rem;
}

.l-contact__lower {
	margin: 4rem auto 0;
	text-align: center;
}

.l-contact__cbInput {
	clip: rect(0, 0, 0, 0);
	height: 0.0625rem;
	overflow: hidden;
	position: absolute;
	width: 0.0625rem;
}

.l-contact__cbInput:checked + .l-contact__agreement::after {
	opacity: 1;
}

.l-contact__agreement {
	padding-left: 1.875rem;
	position: relative;
}

.l-contact__agreement::before,
.l-contact__agreement::after {
	content: "";
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.l-contact__agreement::before {
	border: 0.0625rem solid #393327;
	height: 1rem;
	width: 1rem;
}

.l-contact__agreement::after {
	background: url(../img/contact-check.png) no-repeat center center/contain;
	height: 0.625rem;
	left: 0.0625rem;
	margin-top: -0.0625rem;
	opacity: 0;
	width: 0.8125rem;
}

.l-contact__btn {
	margin-top: 4rem;
}

.c-btn {
	background: #4C7031;
	border: 0 solid;
	border-radius: 6.1875rem;
	box-shadow: 0.375rem 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	display: inline-block;
	line-height: 2;
	padding: 0.625rem 4.75rem 0.625rem 3.75rem;
	position: relative;
}

.c-btn::after {
	background: url(../img/arrow-right.svg) no-repeat center center/contain;
	content: "";
	height: 2.25rem;
	position: absolute;
	right: 1.5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
}

.c-btn__white,
.c-btn__white--contact {
	background: #fff;
	border: 0.0625rem solid #393327;
	border-radius: 6.1875rem;
	box-shadow: 0.375rem 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.4);
	display: inline-block;
	padding: 0.9375rem 1.5rem 0.9375rem 4.75rem;
	position: relative;
	width: 16.25rem;
}

.c-btn__white::before,
.c-btn__white--contact::before {
	background: url(/assets/img/shopping-cart.png) no-repeat center center/contain;
	content: "";
	height: 2.25rem;
	left: 1.125rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
}

.c-btn__white::after,
.c-btn__white--contact::after {
	background: url(/assets/img/arrow-right_b.svg) no-repeat center center/contain;
	content: "";
	height: 2.25rem;
	position: absolute;
	right: 1.125rem;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
}

.c-btn__white--contact::before {
	background: url(/assets/img/mail.png) no-repeat center center/contain;
	content: "";
	height: 2.25rem;
	left: 0.9375rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
}

.c-btn__shop img {
	filter: drop-shadow(0.625rem 0.625rem 0 0 rgba(0, 0, 0, 0.4));
	height: 8.4375rem;
	width: 11.375rem;
}

.c-btn__category {
	background: #fff;
	border: 0.0625rem solid #4C7031;
	border-radius: 6.1875rem;
	font-size: 1.125rem;
	line-height: 2;
	padding: 0.25rem 1.5rem;
}

.c-btn__category.current {
	background: #4C7031;
	color: #fff;
}

.c-btn__return {
	background: #4C7031;
	border-radius: 6.1875rem;
	box-shadow: 0.375rem 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.4);
	color: #fff;
	display: inline-block;
	line-height: 2;
	padding: 0.625rem 3.75rem 0.625rem 4.75rem;
	position: relative;
}

.c-btn__return::after {
	background: url(/assets/img/arrow-left.svg) no-repeat center center/contain;
	content: "";
	height: 2.25rem;
	left: 1.5rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 2.25rem;
}

.c-logo {
	height: 100%;
	width: 100%;
}

.c-logoLink {
	-o-object-fit: contain;
	filter: drop-shadow(6px 6px 10px 0px rgba(0, 0, 0, 0.4));
	height: 7.625rem;
	object-fit: contain;
	width: 7.375rem;
}

.c-drawer {
	background: #fff;
	border-radius: 50%;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: block;
	height: 4.25rem;
	position: relative;
	width: 4.25rem;
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(1) {
	top: 50%;
	transform: rotate(45deg);
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(2) {
	display: none;
}

.c-drawer.is-checked .c-drawer__line:nth-of-type(3) {
	top: 50%;
	transform: rotate(-45deg);
}

.c-drawer__line {
	background: #393327;
	border-radius: 0.25rem;
	content: "";
	height: 0.125rem;
	left: 29%;
	position: absolute;
	transition: transform 0.3s linear, top 0.3s linear;
	width: 1.6875rem;
}

.c-drawer__line:nth-of-type(1) {
	top: 35%;
}

.c-drawer__line:nth-of-type(2) {
	top: 50%;
}

.c-drawer__line:nth-of-type(3) {
	top: 65%;
}

.c-tag {
	background: #B5CB99;
	border-radius: 0.5rem;
	color: #fff;
	display: inline-block;
	font-size: 1rem;
	line-height: 2;
	padding: 0rem 1.25rem;
}

.c-tag__thumbnail {
	background: #B5CB99;
	border-radius: 0.25rem;
	color: #fff;
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1.6;
	padding: 0.0625rem 0.75rem;
}

.c-tag__contact {
	background: #B2533E;
	border-radius: 0.25rem;
	color: #fff;
	display: inline-block;
	font-size: 0.875rem;
	padding: 0.0625rem 0.75rem;
}

.p-mv {
	color: #fff;
	content: "";
	display: inline-block;
	left: 6.94%;
	padding: 0 1.25rem;
	position: absolute;
	top: 50%;
}

.p-mv__title {
	word-wrap: break-word;
	font-family: "Slackside";
	font-size: 6.25rem;
	font-weight: 700;
	line-height: 1.4;
}

.p-mv__subTitle {
	font-size: 1.5rem;
	line-height: 1.6;
	margin-top: 1rem;
}

.p-mv__lowerTtl {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1.43;
}

.p-mv__lowerSub {
	font-size: 1.5rem;
}

.p-top__sp {
	display: none;
	padding: 0 1rem;
}

.p-top__body {
	margin-top: 2.5rem;
}

.p-top__title {
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.33;
	position: relative;
}

.p-top__title--feature {
	font-size: 3rem;
	font-weight: 700;
	position: relative;
}

.p-top__title--feature::before {
	color: #B5CB99;
	content: "01";
	font-size: 3rem;
	font-weight: 400;
	left: -2rem;
	position: absolute;
	top: -2.875rem;
}

.p-top__title--life {
	font-size: 3rem;
	font-weight: 700;
	position: relative;
}

.p-top__title--life::before {
	color: #B5CB99;
	content: "02";
	font-size: 3rem;
	font-weight: 400;
	left: -2rem;
	position: absolute;
	top: -2.875rem;
}

.p-top__title--quality {
	font-size: 3rem;
	font-weight: 700;
	position: relative;
}

.p-top__title--quality::before {
	color: #B5CB99;
	content: "03";
	font-size: 3rem;
	font-weight: 400;
	left: -2rem;
	position: absolute;
	top: -2.875rem;
}

.p-top__subTitle {
	font-family: "Slackside";
	font-size: 2rem;
}

.p-top__text {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	line-height: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.p-top__btn {
	bottom: 0;
	position: absolute;
}

.p-footer {
	align-items: center;
	display: flex;
	font-weight: 500;
	gap: 2.5rem;
	justify-content: center;
}

.p-footer__navLink {
	display: block;
}

.p-footer__sns {
	align-items: center;
	display: flex;
	gap: 3rem;
	justify-content: center;
	margin-top: 2.5rem;
}

.u-separate {
	margin-bottom: 24px;
	margin-top: 24px;
}

.u-active-pc {
	display: none;
}

.u-active-tab {
	display: none;
}

.u-active-sp {
	display: none;
}

/* u-dispNone
----------------------------------------------------------------- */

.u-dispNone--NU {
	display: block;
}

.u-dispNone--NO {
	display: none;
}

.u-dispNone--PU {
	display: block;
}

.u-dispNone--PO {
	display: none;
}

.u-dispNone--flexPU {
	display: flex;
}

.u-dispNone--flexPO {
	display: none;
}

@media screen and (min-width: 768px) {

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: none;
}

.is-sp {
	display: none;
}

.u-hidden-pc {
	display: none;
}

.u-active-pc {
	display: block;
}

}

@media screen and (max-width: 1280px) {

.u-dispNone--NU {
	display: none;
}

.u-dispNone--NO {
	display: block;
}

}

@media screen and (max-width: 999px) {

スマホのstyleは表示、PCのstyleは非表示 .is-sp {
	display: none;
}

.l-footer__inner {
	padding: 2.5rem 1rem 3.75rem;
}

.l-footer__contents {
	flex-direction: column;
	gap: 1.25rem;
}

.l-footer__logoArea {
	text-align: center;
	width: 100%;
}

.l-footer__nav {
	width: 100%;
}

.l-footer__btn {
	margin: 1.25rem auto 0;
}

.l-footer__copyRightSp {
	display: block;
	margin-top: 1.25rem;
}

.u-hidden-tab {
	display: none;
}

.u-active-tab {
	display: block;
}

}

@media screen and (max-width: 767px) {

PCのstyleは表示、スマホのstyleは非表示 .is-pc {
	display: none;
}

.is-pc {
	display: none;
}

.l-inner {
	padding: 0 1rem;
}

.l-inner.inner {
	padding: 0 1rem;
}

.l-inner.lower {
	padding: 0 1rem;
}

.l-inner.box {
	padding: 0 1rem;
}

.l-contents__inner {
	flex-direction: column;
	gap: 7.5rem;
	padding: 2.5rem 0;
}

.l-contents__main {
	width: 100%;
}

.l-contents__main.archive {
	width: 100%;
}

.l-contents__side {
	width: 100%;
}

.l-btn__shop {
	display: none;
}

.l-btn__sp {
	display: block;
}

.l-header__inner {
	padding: 0 1rem;
}

.l-header__logoArea {
	height: 3.75rem;
	width: 3.625rem;
}

.l-drawer {
	display: block;
	padding: 6.25rem 0;
	width: 100%;
}

.l-drawer__items {
	margin-top: 2.5rem;
}

.l-drawer__item span {
	display: none;
}

.l-drawer__sns {
	margin-top: 1.875rem;
}

.l-footer__copyRight {
	display: none;
	gap: 1rem;
}

.l-about {
	padding: 2.5rem 0;
}

.l-about__text {
	font-size: 1rem;
}

.l-about__row {
	flex-direction: column;
	gap: 1.875rem;
	margin-top: 2.5rem;
}

.l-about__imgArea {
	width: 100%;
}

.l-about__content {
	margin: 0;
	width: 100%;
}

.l-faq {
	padding: 2.5rem 0;
}

.l-contact {
	padding: 2.5rem 0;
}

.l-contact__btn {
	margin-top: 2rem;
}

.c-btn__shop img {
	height: 4.21875rem;
	width: 5.6875rem;
}

.c-logoLink {
	height: 3.75rem;
	width: 3.625rem;
}

.c-drawer {
	height: 2.625rem;
	width: 2.625rem;
}

.c-drawer__line {
	width: 1.0625rem;
}

.p-mv {
	left: 0;
	padding: 0 0.625rem;
}

.p-mv__title {
	font-size: 3rem;
}

.p-mv__subTitle {
	font-size: 0.875rem;
	margin-top: 0.25rem;
}

.p-top__sp {
	display: block;
}

.p-top__sp.--rev {
	padding: 0;
}

.p-top__head {
	display: none;
}

.p-top__body {
	margin-top: 0.5rem;
}

.p-top__title--feature::before {
	left: -0.75rem;
	top: -2.8125rem;
}

.p-top__title--life::before {
	left: -0.75rem;
	top: -2.8125rem;
}

.p-top__title--quality::before {
	left: -0.75rem;
	top: -2.8125rem;
}

.p-top__subTitle {
	font-size: 1.5rem;
}

.p-top__btn {
	margin: 1.875rem auto 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.p-footer {
	flex-direction: column;
	gap: 0.625rem;
}

.u-hidden-sp {
	display: none;
}

.u-active-sp {
	display: block;
}

.u-dispNone--PU {
	display: none;
}

.u-dispNone--PO {
	display: block;
}

.u-dispNone--flexPU {
	display: none;
}

.u-dispNone--flexPO {
	display: flex;
}

}

