@use "../global" as *;

.l-banner {
  width: 100%;
  margin: 0 auto;
  background: url(../img/bg-banner.png)no-repeat center center /cover;
  padding: rm(64) 0;
  position: relative;
}

.l-banner__ttlArea {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: rm(740);
  background: #fff;
  padding: rm(4) rm(4) 0;

  border: rm(4) solid $main-color;
  border-radius: rm(40);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-style:solid;
    border-width: 22px 15.5px 0 15.5px;
    border-color: $main-color transparent transparent transparent;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    border-style:solid;
    border-width: 18px 13.5px 0 13.5px;
    border-color: #fff transparent transparent transparent;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.l-banner__title {
  font-family: $ff-logoB;
  font-size: rm(36);
  color: $main-color;

  span {
    letter-spacing: -.08em;
    &.accent {
      color: $accent-color;
      letter-spacing: .03em;
    }
  }
  @include mq(sp) {
    font-size: rm(28);
  }
}

.l-banner__textArea {
  margin: rm(-36) auto 0;
  width: 100%;
  max-width: rm(880);
  background: #fff;
  height: auto;
  border-radius: rm(20);
  padding: rm(63) rm(20) rm(36);
  border: rm(3) solid #FFFFFF;

  @include mq(sp) {
    padding: rm(63) rm(16) rm(32);

  }
}

.l-banner__text {
  font-family: $ff-logoB;
  font-size: rm(30);
  line-height: 1.7;
  color: $main-color;
  text-align: center;

  @include mq(sp) {
    font-size: rm(22) ;
  }
}

.l-banner__btn {
  margin: rm(24) auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: rm(16) rm(12);
}
