@use "../global" as *;

.l-contact {
  width: 100%;
  margin: 0 auto;
  padding: rm(80) 0;

  @include mq(sp) {
    padding: rm(40) 0;
  }
}

.l-contact__headArea {
  text-align: center;
}

.l-contact__head {
  display: inline-block;
  text-align: left;

}

.l-contact__form {
  margin: rm(64) auto 0;
  width: 100%;
  max-width: rm(800);
  height: auto;
}

.l-contact__fields {

}

.l-contact__field {
  margin-top: rm(40);

  &:first-of-type {
    margin-top: 0;
  }
}

.l-contact__dt {
  display: flex;
  align-items: center;
  gap: rm(20);
}

.l-contact__label {

}

.l-contact__dd {
  margin-top: rm(8);
}

.l-contact__text {
  width: 100%;
  border: rm(1) solid $text-color;
  border-radius: rm(8);
  padding: rm(12) rm(16);
  font-size: rm(18);
  line-height: 2;

  &::placeholder {
    color: $text-color2;
    opacity: .5;
  }
}

.l-contact__txtArea {
  width: 100%;
  height: rm(214);
  border: rm(1) solid $text-color;
  border-radius: rm(8);
  font-size: rm(18);
  padding: rm(12) rm(16);
  line-height: 2;

  &::placeholder {
    color: $text-color2;
    opacity: .5;
  }
}

.l-contact__privacy {
  margin-top: rm(64);
}

.l-contact__lower {
  margin: rm(64) auto 0;
  text-align: center;
}

.l-contact__checkBox {

}

.l-contact__cbInput {
  width: rm(1);
  height: rm(1);
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked {
    + .l-contact__agreement {
      &::after {
        opacity: 1;
      }
    }
  }
}

.l-contact__agreement {
  position: relative;
  padding-left: rm(30);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    width: rm(16);
    height: rm(16);
    border: rm(1) solid $text-color;
  }

  &::after {
    background: url(../img/contact-check.png)no-repeat center center /contain;
    width: rm(13);
    height: rm(10);
    left: rm(1);
    margin-top: rm(-1);
    opacity: 0;
  }
}

.l-contact__btn {
  margin-top: rm(64);

  @include mq(sp) {
    margin-top: rm(32);
  }
}
