@use "../global" as *;

.l-footer {
  width: 100%;
  margin: 0 auto;
  background: #eafbf9;
  padding: rm(22) 0 ;
  border-top: rm(5) solid $main-color;

}

.l-footer__inner {
  margin: 0 auto;
  max-width: $inner-width;
  padding: 0 rm(20);

  @include mq(tab) {
    padding: 0 rm(16);
  }
}

.l-footer__title {
  font-family: $ff-logoB;
  font-size: rm(32);
  text-align: center;
}

.l-footer__contents {
  margin: rm(24) auto 0;
  width: 100%;
  max-width: rm(880);
  display: flex;
  align-items: start;
  justify-content: space-between;


  @include mq(tab) {
    flex-direction: column;
    gap: rm(20);
  }
}

.l-footer__left {
  // width: 50%;
}

.l-footer__right {
  // width: 50%;
}

.l-footer__logo {
  width: 100%;
  height: auto;

  img {
    object-fit: contain;
    width: rm(198);
    height: rm(64);
  }
}

.l-footer__text {
  font-size: rm(12);
}

.l-footer__copyRight {
  margin-top: rm(35);
  font-size: rm(14);
  text-align: center;
  padding-bottom: rm(18);

  @include mq(sp) {
    display: none;
    gap: rm(16);
  }
}

.map {
  position: relative;
  width: rm(351);
  height: rm(142);
  padding-top: 75%; /* 比率を4:3に固定 */
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: rm(310);
  height: rm(232);
}
