@use "../global" as *;

.l-faq {
  width: 100%;
  background: #EDF0F4;
  margin: 0 auto;
  padding: rm(100) 0;

  @include mq(sp) {
    padding: rm(40) 0;
  }
}

.l-faq_ttlArea {
  text-align: center;
}

.l-faq__boxes {
  margin: rm(85) auto 0;
  width: 100%;
  max-width: rm(880);
  display: flex;
  flex-direction: column;
  gap: rm(32);
}

.l-faq__box {
  width: 100%;
  padding: rm(16) rm(40);
  background: #fff;
  border-radius: rm(20);

  &.is-open {
    .l-faq__question {
      &::after {
        transform: rotate(0deg);
      }
    }
  }

  @include mq(sp) {
    padding: rm(16) rm(20);

  }
}

.l-faq__question {
  width: inherit;
  background: transparent;
  position: relative;
  display: flex;
  gap: rm(16);

  &::after {
    content: "";
    position: absolute;
    background: url(../img/faq-arrow.png)no-repeat center center /contain;
    transform: rotate(180deg);
    width: rm(22);
    height: rm(22);
    top:rm(9);
    right: rm(0);
  }

  @include mq(sp) {
    gap: rm(10);

    &::after {
      right: rm(-20);
      right: 0;
    }
  }
}

.l-faq__icon {
  display: grid;
  place-items: center;
  font-family: $ff-en;
  width: rm(40);
  height: rm(40);
  background: $main-color;
  color: #fff;
  font-size: rm(28);
  font-weight: 700;
  border-radius: 50%;
  flex-shrink: 0;

  &.answer {
    background: $accent-color;
  }
}

.l-faq__text {
  font-size: rm(24);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: .01em;
  text-align: left;

  &.answer {
    font-size: rm(20);
    font-weight: 400;
  }

  @include mq(sp) {
    font-size: rm(18);

    &.answer {
      font-size: rm(18);
    }
  }
}

.l-faq__answerArea {
  display: none;
}

.l-faq__answer {
  margin-top: rm(16);
  // padding-top: rm(22);
  // border-top:rm(1) solid $main-color;
  font-size: rm(20);
  line-height: 1.6;
  font-weight: 400;
  display: flex;
  gap: rm(16);
}
