@use "../global" as *;

.l-header {
  position: fixed;
  width: 100%;
  max-width: $wide-width;
  background: #fff;
  z-index: 20;
}

.l-header__inner {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: rm(90);
  padding: rm(15);
  display: flex;
  gap: 6.94%;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 rm(4) rm(4) 0 #00000026;

  @include mq(sp) {
    height: rm(75);
    justify-content: space-between;
    padding: 0 rm(16);
  }
}

.l-header__logoArea {
  width: rm(198);
  height: rm(64);

  @include mq(sp) {
    width: rm(178);
    height: rm(57);
  }
}

.l-header__btnArea {
  display: flex;
  align-items: center;
  gap: rm(24);

  @include mq(sp) {


  }
}
