@use "../global" as *;

.l-mv {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: rm(90);
  background: #E9F7FC;;
  background: url(../img/mv-bg.png)no-repeat 30% center /cover,$bg-color;
  z-index: -1;
}

.l-mv__inner {
  width: 100%;
  max-width: $inner-width;
  margin: 0 auto;
  padding: rm(80) rm(20) rm(48);
  position: relative;
  text-align: center;

  @include mq(sp) {
    padding: rm(160) rm(16) rm(48);
  }
}

.l-mv__ttlArea {
  //
}

.l-mv__sub {
  margin-left: rm(87);
  display: inline-block;
  font-size: rm(32);
  font-family:$ff-logoB;
  border-bottom: rm(2) dashed #E47249;
  position: relative;

  span {
    color: orange;
  }

  @include mq(sp) {
    margin-left: 0;
    font-size: rm(24);
  }

  &::before {
    content: "";
    position: absolute;
    background: url(../img/label-mv.png)no-repeat center center /cover;
    width: rm(152);
    height: rm(157);
    left: rm(-163);
    top: 50%;
    transform: translateY(-50%);

    @include mq(sp) {
      top: -80px;
      left: 60%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../img/sub-line.png)no-repeat center center /cover;
    width: rm(41);
    height: rm(63);
    right: rm(-53);
    top: 50%;
    transform: translateY(-50%);

    @include mq(sp) {
      display: none;
    }
  }
}

.l-mv__title {
  z-index: 10;
  font-family:$ff-logoB;
  font-size: rm(66);
  letter-spacing: -.02em;
  color: $main-color;
  line-height: 1;
  text-shadow:5px 5px 5px #fff, -5px -5px 5px #fff,
  -5px 5px 5px #fff, 5px -5px 5px #fff,
  0px 5px 5px #fff,  0 -5px 5px #fff,
  -5px 0 5px #fff, 5px 0 5px #fff;
  position: relative;

  span {
    font-size: rm(92);
    line-height: 1.5;
    letter-spacing: .02em;
    color: #fff;
    // -webkit-text-stroke: 4px $main-color;
    // text-stroke: 4px  $main-color;

    text-shadow:6px 6px 6px $main-color, -6px -6px 6px $main-color,
    -6px 6px 6px $main-color, 6px -6px 6px $main-color,
    0px 6px 6px $main-color,  0 -6px 6px $main-color,
    -6px 0 6px $main-color, 6px 0 6px $main-color;

    // text-shadow:6px 6px 6px #fff, -6px -6px 6px #fff,
    // -6px 6px 6px #fff, 6px -6px 6px #fff,
    // 0px 6px 6px #fff,  0 -6px 6px #fff,
    // -6px 0 6px #fff, 6px 0 6px #fff;
  }

  @include mq(sp) {
    font-size: rm(42);

    span {
      font-size: rm(48);
    }
  }
}

.l-mv__body {
  margin: rm(29) auto 0;
}

.l-mv__imgArea {

  @include mq(tab) {
    display: none;
  }
}

.l-mv__img1 {
  content: "";
  position: absolute;
  left: 3%;
  top: 16%;

  img {
    object-fit: contain;
    width: rm(325);
    height: rm(250);
  }
}

.l-mv__img2 {
  content: "";
  position: absolute;
  left: 5.5%;
  top: 50%;

  img {
    object-fit: contain;
    width: rm(294);
    height: rm(196);
  }
}

.l-mv__img3 {
  content: "";
  position: absolute;
  top: 16%;
  right: 2.5%;

  img {
    object-fit: contain;
    width: rm(323);
    height: rm(245);
  }
}

.l-mv__img4 {
  content: "";
  position: absolute;
  right: 5.5%;
  top: 44%;

  img {
    object-fit: contain;
    width: rm(280);
    height: rm(230);
  }
}
