@use "../global" as *;

.l-recruit {
  width: 100%;
  margin: 0 auto;
  padding: rm(100) 0;
}

.l-recruit__ttlArea {
  text-align: center;
}

.l-recruit__items {
  margin: rm(80) auto 0;
  width: 100%;
  text-align: center;
  position: relative;

}
