@use "../global" as *;

.l-voice  {
  width: 100%;
  margin: 0 auto;
  background: url(../img/bg-voice.png)no-repeat center center /cover;
  padding: rm(100) 0 0;
}

.l-voice__ttlArea {
  text-align: center;
}

.l-voice__contents {
  margin: rm(80) auto 0;
  width: 100%;
  max-width: rm(900);
  display: grid;
  grid-template-columns: repeat(auto-fit, rm(270));
  align-items: center;
  justify-content: center;
  gap: rm(40);

}

.l-voice__content {
  width: 100%;
  max-width: rm(266);
  text-align: center;

  img {
    width: rm(170);
    height: rm(170);
  }
}

.l-voice_comment {
  margin-top: rm(36);
  padding: rm(28) rm(30);
  width: rm(266);
  height: rm(339);
  background: #fff;
  border: rm(3) solid $main-color;
  border-radius: rm(20);
  box-shadow: rm(5) rm(5) 0 0 #AED2F4;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-style:solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent $main-color transparent;
    top: rm(-20);
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    border-style:solid;
    border-width: 0 17px 17px 17px;
    border-color: transparent transparent #fff transparent;
    top: rm(-16);
    left: 50%;
    transform: translateX(-50%);
  }
}

.l-voice__profile {
  display: inline-block;
  background: $main-color;
  padding: rm(4) rm(12);
  border-radius: rm(40);
  font-size: rm(24);
  line-height: 1;
  letter-spacing: .03em;
  font-weight: 700;
  color: #fff;

}

.l-voice__text {
  margin-top: rm(20);
  font-size: rm(20);
  line-height: 1.6;
  text-align: left;

}
