@use "../global" as *;

.p-mv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rm(20);

}

.p-mv__content {
  background: #EE9613;
  color: #fff;
  width: rm(140);
  height: rm(140);
  border-radius: rm(10);
  box-shadow: rm(7) rm(7) 0 0 #AA8853;
  gap: rm(20);
  padding: rm(20) 0 rm(6);
  text-align: center;
  font-family: $ff-logoB;
}

.p-mv__text {
  font-size: rm(20);
  line-height: 1;
}

.p-mv__appeal {
  margin-top: rm(15);
  font-size: rm(30);
  line-height: 1.2;

  &.rent {
    padding-top: rm(15);
  }
}
