@use "../global" as *;

.p-recruit {
  width: 100%;
  max-width: $inner-width;
  margin: 0 auto;
  padding: 0 rm(20);

  @include mq(sp) {
    padding: 0 rm(16);
  }
}

.p-recruit__swiper {
  padding: 0 rm(10) rm(65);
}

.p-recruit__item {
  margin: 0 auto;
  width: 100%;
  max-width: rm(460);
  height: rm(572);
  padding: rm(16);
  border: rm(3) solid $main-color;
  border-radius: rm(10);
}

.p-recruit__head {
  //
}

.p-recruit__img {
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    width: rm(428);
    height: rm(260);
  }
}

.p-recruit__body {
  margin-top: rm(14);
  text-align-last: left;
}

.p-recruit__title {
  font-size: rm(24);
  line-height: 1.4;
  letter-spacing: .03em;
  color: $sub-color;
  font-weight: 700;

  @include mq(sp) {
    font-size: rm(18);
  }
}

.p-recruit__low {
  margin-top: rm(24);
}

.p-recruit__dl {
  display: flex;
  gap: rm(12);
  padding: rm(5) 0 rm(12);
  border-bottom: rm(1) dotted #eaeaea;
  font-size: rm(20);

  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    border-bottom: none;
  }

  @include mq(sp) {
    font-size: rm(16);
  }
}

.p-recruit__dt {
  line-height: 1.2;
  letter-spacing: .03em;
  width: rm(65);
}

.p-recruit__dd {
  text-align: left;
  letter-spacing: .03em;

  span {
    color:#E01E1E;
    font-size: rm(24);
    line-height: 1;
    font-weight: 700;

    @include mq(sp) {
      font-size: rm(18);
    }
  }
}

.p-recruit__prev,
.p-recruit__next {
  width: rm(66);
  height: rm(66);
  margin-top: rm(-20);

  &::after {
    display: none;
  }

  @include mq(sp) {
    width: rm(50);
    height: rm(50);
    margin-top: rm(-70);
  }
}

.p-recruit__prev {
  background: url(../img/arrow-preview.png)no-repeat center center /contain;
  left: rm(440);
  left: 30%;

  @include mq(tab) {
    left: 20%;
  }

  @include mq(sp) {
    left: rm(-2);
  }
}

.p-recruit__next {
  background: url(../img/arrow-next.png)no-repeat center center /contain;
  right: rm(440);
  right: 30%;

  @include mq(tab) {
    right: 20%;
  }

  @include mq(sp) {
    right: rm(-2);
  }
}

.p-recruit__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rm(4);

  .swiper-pagination-bullet {
    width: rm(16);
    height: rm(16);
    background: #fff;
    border: rm(2) solid $main-color ;
    border-radius: 50%;

    &.swiper-pagination-bullet-active {
      background:$main-color;
    }
  }
}
