@use "../global" as *;

.c-btn {
  display: inline-block;
  background: $main-color;
  color: #fff;
  padding: rm(10) rm(76) rm(10) rm(60);
  border-radius: rm(99);
  border: 0 solid ;
  box-shadow: rm(6) rm(6) rm(10) 0 rgba(0, 0, 0, 0.4);
  line-height: 2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-right.svg)no-repeat center center /contain;
    width: rm(36);
    height: rm(36);
    top: 50%;
    right: rm(24);
    transform: translateY(-50%);
  }
}

.c-btn__white {
  display: inline-block;
  background: #fff;
  width: rm(260);
  border: rm(1) solid $text-color;
  padding: rm(15) rm(24) rm(15) rm(76);
  border-radius:rm(99);
  box-shadow: rm(6) rm(6) rm(10) 0 rgba(0, 0, 0, 0.4);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: url(/assets/img/shopping-cart.png)no-repeat center center /contain;
    width: rm(36);
    height: rm(36);
    top: 50%;
    left: rm(18);
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background: url(/assets/img/arrow-right_b.svg)no-repeat center center /contain;
    width: rm(36);
    height: rm(36);
    right: rm(18);
    top: 50%;
    transform: translateY(-50%);
  }

  &--contact {
    @extend .c-btn__white;

    &::before {
      content: "";
      position: absolute;
      background: url(/assets/img/mail.png)no-repeat center center /contain;
      width: rm(36);
      height: rm(36);
      top: 50%;
      left: rm(15);
      transform: translateY(-50%);
    }
  }
}

.c-btn__shop {

  img{
    width: rm(182);
    height: rm(135);
    filter: drop-shadow(rm(10) rm(10) 0 0 rgba(0, 0, 0, 0.4));
  }

  @include mq(sp) {

    img {
      width: rm(91);
      height: rm(67.5);
    }
  }
}

.c-btn__category {
  font-size: rm(18);
  line-height: 2;
  padding: rm(4) rm(24);
  border-radius: rm(99);
  background: #fff;
  border: rm(1) solid $main-color;

  &.current {
    background: $main-color;
    color: #fff;
  }
}

.c-btn__return {
  display: inline-block;
  background: $main-color;
  color: #fff;
  padding: rm(10) rm(60) rm(10) rm(76);
  border-radius: rm(99);
  box-shadow: rm(6) rm(6) rm(10) 0 rgba(0, 0, 0, 0.4);
  line-height: 2;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url(/assets/img/arrow-left.svg)no-repeat center center /contain;
    width: rm(36);
    height: rm(36);
    top: 50%;
    left: rm(24);
    transform: translateY(-50%);
  }
}
