@use "../global" as *;

.c-btn {
  display: inline-block;
  width: rm(280);
  background: $line-color;
  line-height: 1;
  color: #fff;
  padding: rm(20) rm(37) rm(20) rm(52);
  border-radius: 99px;
  font-weight: 700;
  position: relative;
  box-shadow: rm(0) rm(4) #0B691d;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/line.png)no-repeat center center /contain;
    width: rm(23);
    height: rm(22);
    left: rm(18);
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-right.png)no-repeat center center /contain;
    width: rm(8);
    height: rm(14);
    right: rm(16);
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    margin-top: 4px;
    margin-bottom: -4px;
    box-shadow: rm(0) rm(0) #0B691d;
  }

  @include mq(sp) {
    width: 160px;
    padding: rm(16) rm(0);
    font-size: rm(14);
    text-align: center;

    &::before,
    &::after {
      display: none;
    }
  }


  &.line {
    width: 100%;
    max-width: rm(600);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(38) rm(130) rm(38) rm(209);
    box-shadow: 0 rm(8) 0 0 #0B691DCC;

    &::before {
      width: rm(46);
      height: rm(44);
      left: rm(145);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(39);
    }

    &:hover {
      margin-top: 5px;
      margin-bottom: -5px;
      box-shadow: rm(0) rm(3) #0B691d;
    }

    @include mq(sp) {
      width: 100%;
      padding: rm(24) rm(0);
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &.banner {
    width: 100%;
    max-width: rm(410);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(28) rm(50) rm(28) rm(90);
    box-shadow: 0 rm(8) 0 0 #0B691DCC;

    &::before {
      width: rm(46);
      height: rm(44);
      left: rm(30);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(24);
    }

    &:hover {
      margin-top: 5px;
      margin-bottom: -5px;
      box-shadow: rm(0) rm(3) #0B691d;
    }

    @include mq(sp) {
      width: 100%;
      padding: rm(24) rm(0);
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }

  }
}

.c-btn__tel {
  display: inline-block;
  width: rm(280);
  background: $accent-color;
  line-height: 1;
  color: #fff;
  padding: rm(20) rm(37) rm(20) rm(70);
  border-radius: 99px;
  font-weight: 700;
  position: relative;
  box-shadow: rm(0) rm(4) #94320FCC;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/tel.png)no-repeat center center /contain;
    width: rm(20);
    height: rm(26);
    left: rm(40);
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-right.png)no-repeat center center /contain;
    width: rm(8);
    height: rm(14);
    right: rm(16);
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    margin-top: 4px;
    margin-bottom: -4px;
    box-shadow: rm(0) rm(0) #94320FCC;
  }

  @include mq(sp) {
    width: 160px;
    padding: rm(16) rm(0);
    font-size: rm(14);
    text-align: center;

    &::before,
    &::after {
      display: none;
    }
  }

  &.banner {
    width: 100%;
    max-width: rm(410);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(28) rm(50) rm(28) rm(106);
    box-shadow: 0 rm(8) 0 0 #94320FCC;

    &::before {
      width: rm(24);
      height: rm(32);
      left: rm(68);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(20);
    }

    &:hover {
      margin-top: 5px;
      margin-bottom: -5px;
      box-shadow: rm(0) rm(3) #94320FCC;
    }

    @include mq(sp) {
      width: 100%;
      padding: rm(24) rm(0);
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.c-btn__cta {
  background:　rgba(255,255,255,0.5);
  position: fixed;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 148px;
  bottom: 0px;
  margin: 0 auto;
  padding: rm(20);
  z-index: 30;
  text-align: center;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}
