@use "../global" as *;

.c-btn {
  display: inline-block;
  width: rm(280);
  background: $line-color;
  line-height: 1;
  color: #fff;
  padding: rm(20) rm(37) rm(20) rm(52);
  border-radius: 99px;
  font-weight: 700;
  position: relative;
  box-shadow: rm(0) rm(4) #0B691d;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/line.png)no-repeat center center /contain;
    width: rm(23);
    height: rm(22);
    left: rm(18);
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-right.png)no-repeat center center /contain;
    width: rm(8);
    height: rm(14);
    right: rm(16);
    top: 50%;
    transform: translateY(-50%);
  }

  &.line {
    width: 100%;
    max-width: rm(600);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(38) rm(130) rm(38) rm(209);
    box-shadow: 0 rm(8) 0 0 #0B691DCC;

    &::before {
      width: rm(46);
      height: rm(44);
      left: rm(145);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(39);
    }
  }

  &.banner {
    width: 100%;
    max-width: rm(410);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(28) rm(50) rm(28) rm(90);
    padding: 28px 50px 28px 90px;
    box-shadow: 0 rm(8) 0 0 #0B691DCC;

    &::before {
      width: rm(46);
      height: rm(44);
      left: rm(30);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(30);
    }
  }
}


.c-btn__tel {
  display: inline-block;
  width: rm(280);
  background: $accent-color;
  line-height: 1;
  color: #fff;
  padding: rm(20) rm(37) rm(20) rm(70);
  border-radius: 99px;
  font-weight: 700;
  position: relative;
  box-shadow: rm(0) rm(4) #94320FCC;


  &::before {
    content: "";
    position: absolute;
    background: url(../img/tel.png)no-repeat center center /contain;
    width: rm(20);
    height: rm(26);
    left: rm(40);
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    background: url(../img/arrow-right.png)no-repeat center center /contain;
    width: rm(8);
    height: rm(14);
    right: rm(16);
    top: 50%;
    transform: translateY(-50%);
  }

  &.banner {
    width: 100%;
    max-width: rm(410);
    font-size: rm(24);
    letter-spacing: .03em;
    padding: rm(28) rm(50) rm(28) rm(90);
    padding: 28px 50px 28px 90px;
    box-shadow: 0px 8px 0px 0px #94320FCC;

    &::before {
      width: rm(24);
      height: rm(32);
      left: rm(68);
    }

    &::after {
      width: rm(12);
      height: rm(20);
      right: rm(20);
    }
  }
}
