@use "../global" as *;

.c-title {
  font-family: $ff-logoB;
  font-size: rm(52);
  line-height: 1.4;
  letter-spacing: .03em;
  color: $sub-color;
  position: relative;

  span {
    font-size: rm(66);
  }

  &::after {
    content: "";
    position: absolute;
    border: rm(2) solid $sub-color;
    height: rm(2);
    width: rm(100);
    bottom: rm(-26);
    left: 50%;
    transform: translateX(-50%);
  }

  @include mq(sp) {
    font-size: rm(40);

    span {
      font-size: rm(48);
    }
  }
}
