@use "../global" as g;

// ---
// 表示
// ---
.u-active-pc {
    // PC時に表示
    display: none;

    @include g.mq("pc") {
        display: block;
    }
}

.u-active-tab {
    //タブレット以下表示
    display: none;

    @include g.mq("tab") {
        display: block;
    }
}

.u-active-sp {
    // スマホ時に表示
    display: none;

    @include g.mq("sp") {
        display: block;
    }
}
