@use "../global" as g;

// ---
// 非表示
// ---
.u-hidden-pc {
    // PC時に非表示

    @include g.mq("pc") {
        display: none;
    }
}

.u-hidden-tab {
    //タブレット以下非表示

    @include g.mq("tab") {
        display: none;
    }
}

.u-hidden-sp {
    // スマホ時に非表示

    @include g.mq("sp") {
        display: none;
    }
}
